<h2>ngIf Demo</h2>
<!--<h2 *ngIf="displayName; else elseBlock">Test Component</h2>-->
<div *ngIf="displayName; then ifBlock; else elseBlock"></div>
<ng-template #ifBlock>
    <h2>Test Component</h2>
</ng-template>
<ng-template #elseBlock>
<h2>Name is hiden</h2>
</ng-template>
<hr>
<h2>Multiple if condition</h2>
<ng-template [ngIf]="color=='red'">
    <h1 style="color: red;">Red Color</h1>
</ng-template>
<ng-template [ngIf]="color=='green'">
    <h1 style="color: green;">Green Color</h1>
</ng-template>
<ng-template [ngIf]="color=='blue'">
    <h1 style="color: blue;">blue Color</h1>
</ng-template>
<hr>
<h2>ngSwitch Demo</h2>
<div [ngSwitch]="color">
    <div *ngSwitchCase="'red'" style="color: red;">You picked red color</div>
    <div *ngSwitchCase="'green'" style="color: green;">you picked green color</div>
    <div *ngSwitchCase="'blue'" style="color: blue;">you picked blue color</div>
    <div *ngSwitchDefault>Pick again</div>

</div>
<hr>
<h2>ngFor Demo</h2>
<div *ngFor="let color of colors; index as i">
<h3>{{i}} {{color}}</h3>
</div>
<h3>Employee Details</h3>
<div *ngFor="let emp of employees">
    {{emp.name}}---{{emp.email}}--{{emp.phone}}
</div>
